{
  "globals": {
    "GM_addStyle": false,
    "localStorage": false,
    "$": true,
    "jQuery": false
  },
  "env": {
    "browser": true
  },
  "extends": "semistandard",
    "rules": {
        "indent": [
            "error",
            4
        ]
    }
}
